/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.example
.idea/

package-lock.json

package-lock.json

public/js/app.js

public/mix-manifest.json

public/fonts/vendor/\@fortawesome/fontawesome-free/

public/js/push/enable-push.js

public/sw.js
