// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$Notify-blue : #1e60b0;
$dark-blue:#06418a;



$color-primary-0: #1E60B0;	// Main Primary color */
$color-primary-1: #B4C3D4;
$color-primary-2: #4D7AB1;
$color-primary-3: #084792;
$color-primary-4: #033571;

$color-secondary-1-0: #3828B9;	// Main Secondary color (1) */
$color-secondary-1-1: #BDBAD9;
$color-secondary-1-2: #6257BA;
$color-secondary-1-3: #1D0E9B;
$color-secondary-1-4: #110578;

$color-secondary-2-0: #11B084;	// Main Secondary color (2) */
$color-secondary-2-1: #B1D4CA;
$color-secondary-2-2: #44B193;
$color-secondary-2-3: #00936A;
$color-secondary-2-4: #007152;

$color-complement-0: #FFA619;	// Main Complement color */
$color-complement-1: #FFEFD5;
$color-complement-2: #FFC263;
$color-complement-3: #E08900;
$color-complement-4: #AD6A00;



// As RGBa codes */

$rgba-primary-0: rgba( 30, 96,176,1);	// Main Primary color */
$rgba-primary-1: rgba(180,195,212,1);
$rgba-primary-2: rgba( 77,122,177,1);
$rgba-primary-3: rgba(  8, 71,146,1);
$rgba-primary-4: rgba(  3, 53,113,1);

$rgba-secondary-1-0: rgba( 56, 40,185,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(189,186,217,1);
$rgba-secondary-1-2: rgba( 98, 87,186,1);
$rgba-secondary-1-3: rgba( 29, 14,155,1);
$rgba-secondary-1-4: rgba( 17,  5,120,1);

$rgba-secondary-2-0: rgba( 17,176,132,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(177,212,202,1);
$rgba-secondary-2-2: rgba( 68,177,147,1);
$rgba-secondary-2-3: rgba(  0,147,106,1);
$rgba-secondary-2-4: rgba(  0,113, 82,1);

$rgba-complement-0: rgba(255,166, 25,1);	// Main Complement color */
$rgba-complement-1: rgba(255,239,213,1);
$rgba-complement-2: rgba(255,194, 99,1);
$rgba-complement-3: rgba(224,137,  0,1);
$rgba-complement-4: rgba(173,106,  0,1);

