// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'theme/variables';

// Theme styles
@import 'theme/base';
@import "theme/header";
@import "theme/footer";
@import 'theme/features';
@import 'theme/testimonials';


//@tailwind base;
//
//@tailwind components;
//
//@tailwind utilities;


#app {

}


.compliment-3-btn{
    background-color: $color-complement-3;
    color: white;
}
.compliment-3-btn:hover{
    background-color: $color-complement-2;
    color: white;
}

.padding-row-15{
    padding-top: 15px;
}

.feature-list-title{
    color: $Notify-blue;
}

.feature-inprogress{
    background: $Notify-blue;
}

.list-group-item-action .feature-inprogress:hover {
    background: $Notify-blue;
    color: #ffffff;
}

.notifying-work{
    font-weight: bold;
    color: $Notify-blue;
}
