// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'theme/variables';

// Base theme styles
@import 'theme/base';

//Headers
@import "dashboard/ds";
@import "header/header";

//@tailwind base;
//
//@tailwind components;
//
//@tailwind utilities;


#app {

}

html {
  font-family: $font-family-primary;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

.content-area {
    padding-top: 8rem;
}

.container {
  width: 100%;
  max-width: 142rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;

  &--small {
    max-width: 98rem;
  }
}

.compliment-3-btn{
    background-color: $color-complement-3;
    color: white;
}
.compliment-3-btn:hover{
    background-color: $color-complement-2;
    color: white;
}

.padding-row-15{
    padding-top: 15px;
}

.feature-list-title{
    color: $Notify-blue;
}

.feature-inprogress{
    background: $Notify-blue;
}

.list-group-item-action .feature-inprogress:hover {
    background: $Notify-blue;
    color: #ffffff;
}

.notifying-work{
    font-weight: bold;
    color: $Notify-blue;
}
